@import "reset.css";

body {
	background-image: url(../img/arena-sputnik.png);
	font-family: sans-serif;
}
.form {
	width: 430px;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -200px;
	z-index: 2;
}
.tank-arena {
	width: 100%;
	margin: 10px 0;
	border-radius: 5px;
}
.tank-name {
	width: 100%;
	height: 40px;
	position: relative;
	box-sizing: border-box;
	padding: 10px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: none;
	background-color: #e2e99f;
	font-size: 16px;
	font-weight: bold;
	color: #5e0e14;
	cursor: text;
	outline:0;
}
.tank-name:hover {
	background-color: #fff;
}
.btn {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 20px;
	border: none;
	outline: none;
	background-color: #5e0e14;
	text-align: center;
	font-weight: bold;
	color: #e2e99f;
	cursor: pointer;
	outline:0;
}
.btn:hover {
	background-color: #eb121d;
	color: #ebee41;
}
.tank {
	position: absolute;
	background-repeat: no-repeat;
}
.tank-select {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.tank-selection {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 10px;
	list-style-type: none;
}
.tank-select label {
	margin: 10px 0;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	color: #5e0e14;
}
.tank-select label:hover {
	color: #e2e99f;
}
.tank-selection li {
	padding: 10px 20px;
	cursor: pointer;
}
.tank-selection li:hover {
	background-color: #808080;
}
.tank-selection li.selected {
	background-color: #e2e99f;
}
.t-1 {
	background-image: url(../img/tank-t1.png);
}
.t-2 {
	background-image: url(../img/tank-t2.png);
}
.t-3 {
	background-image: url(../img/tank-t3.png);
}
#arena {
	display: none;
	width: 1536px;
	height: 734px;
	background-color: #957747;
	overflow: hidden;
}
.tank-cannon1,
.tank-cannon2,
.tank-cannon3 {
	position: absolute;
	top: 5px;
	left: 10px;
	width: 56px;
	height: 106px;
	transform-origin: 30px 65px;
}
.tank-cannon1 {
	background: url(../img/cannon1.png) 1.5px -5px no-repeat;
}
.tank-cannon2 {
	background: url(../img/cannon2.png) 1.5px -5px no-repeat;;
}
.tank-cannon3 {
	background: url(../img/cannon3.png) 1.5px -5px no-repeat;;
}
.cannon-shell {
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 3.5px;
	background-color: #5e0e14;
}
.shell-explosion {
	position: absolute;
	display: inline-block;
	background-color: #c4060e;
	width: 7px;
	height: 7px;
	opacity: 1;
	border-radius: 3.5px;
	transition: all .3s ease-out;
}
.shell-explosion.expand {
	width: 50px;
	height: 50px;
	background-color: #fc3e20;
	opacity: 0;
	margin-left: -10px;
	margin-top: -10px;
	border-radius: 25px;
}
.explosion {
	position: absolute;
	width: 100px;
	height: 120px;
	z-index: 100;
}
.info {
	width: 100px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -70px;
	margin-left: -40px;
	opacity: .8;
}
.label {
	width: 100px;
	display: inline-block;
	margin-bottom: -15px;
	font-size: 13px;
	text-align: center;
	font-weight: bold;
	color: #c40821;
}
.hp-bar {
	height: 3px;
	color: #a42a2a;
	margin-bottom: 10px;
}
.fade {
	opacity: .2;
}
#sound-fon {
	width: 290px;
	height: 25px;
	position: absolute;
	left: 24px;
	opacity: .7;
}
#btn {
	height: 27px;
	position: absolute;
	top: -2px;
	opacity: .7;
}